@page "/hrmanager"

<h3>Human Resources Page</h3>

@code {
    [Inject]
    HelperService helperService { get; set; } = default!;

    private List<Leave> leaves { get; set; }

    private Employee manager { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        manager = helperService.SelectedEmployee;

        int? roleId = manager?.RoleId;

        if (roleId != 3)
        {
            helperService.NotificationService.Notify(NotificationSeverity.Warning, "Invalid user.", "Please select a HR manager user,in order to view this page", 6000);
            helperService.NavigationManager.NavigateTo("/");
        }

        var response = await helperService.HttpService.Get<DataResponse<List<Leave>>>($"api/leave/mng/{manager?.Id}");
        leaves = new();
        leaves.AddRange(response.Data);
    }
}
